h1{
   font-size: 100px;
   background-color: rgba(217, 255, 0, 0.671);
   color: rgb(66, 10, 30);
   text-align: center;
   font-family: "Arial";
   }
  .menuhorizontal{
margin-left: 800px;
padding: 0;
width: auto;
height: 30px;
}
.menuhorizontal li{
display: inline;
float: left;
padding:0px;
margin: 0;
width: 80px;
border-left: #ce6969 thin solid;
}
.menuhorizontal a{
display: block;
text-decoration: none;
padding: 6px;
background-color: #ffffff;
font-family: Arial;
font-size: 14px;
font-weight: bold;
}
div{
  text-align: center;
  margin-right: 20vw;
  margin-left: 20vw;
  background-color: rgba(217, 255, 0, 0.671);
  }
.texto1{
   background-color: rgba(217, 255, 0, 0.671);
   margin-right: 60vw; 

 }
 h3{
   margin-left: 250px;
   
 }

body {
      background-image: url("img/fundo_tela.png");